
.landing-page {
    padding: 20px;
    text-align: center;
  }
  
  .image-container {
    position: relative;
  }
  
  .landing-image {
    width: 100%;
    max-width: 1000px; 
    height: auto; 
  }
  
  .room-card {
    margin: 10px;
    display: inline-block; 
    width: calc(33.33% - 20px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .room-image-container img {
    width: 100%; 
    height: auto; 
  }
  
  .book-now-btn {
    margin: 5px 0;
  }
  
  
  @media (max-width: 768px) {
    .room-card {
      width: calc(50% - 20px); 
    }
  }
  
  @media (max-width: 480px) {
    .room-card {
      width: 100%; 
    }
  
    .landing-image {
      max-width: 100%; 
    }
  }
  
  
  .fa-solid {
    margin: 0 10px; 
  }
  
  
  .section, .section1 {
    margin: 20px 0;
  }
  
  .reviews-title1 {
    text-align: left;
  }
  
  
  .footer {
    text-align: center;
    padding: 10px;
  }
  