.calendar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  background-color: #d3d1cb; 
  border-radius: 20px;
  padding: 20px;
  max-width: 90%;
  margin: 0 auto;
}

.search-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.search-item {
  background-color: #d9a454; 
  padding: 20px 40px;
  margin: 0 10px;
  border-radius: 15px;
  text-align: center;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.search-item label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  color: white;
}

.paybtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 14px;
}

.react-datepicker {
  font-size: 14px;
}

.icons-container {
  width: 100%;
}

@media (max-width: 1024px) {
  .search-box {
      grid-template-columns: 1fr; 
      padding: 15px;
  }

  .calendar-container {
      padding: 15px;
  }
}

@media (max-width: 768px) {
  .search-box {
      padding: 10px;
  }

  .search-item {
      margin-bottom: 10px;
  }

  button {
      font-size: 14px;
      padding: 8px;
  }

  .summary {
      font-size: 14px;
  }
}
