.footer {
    background-color: #1A374D;
    color: white;
    padding: 20px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content p,
  .footer-content a {
    margin-bottom: .5rem;
  }
  
  .footer-socials a {
    text-decoration: none;
    display: block;
    size: 10px;
  }
  
  .fa-facebook-f,
  .fa-twitter,
  .fa-instagram {
     font-size: 24px; 
     color: white; 
     margin-right: 10px; 
  }

  .footer-terms {
    margin-top: 20px;
  }
  
  .footer-terms a {
    text-decoration: none;
    color: #007bff; 
  }
  
  .footer-terms a:hover {
    text-decoration: underline;
  }